<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Parejas</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div id="app" v-cloak>
        <div class="page-content">
            <h1 class="page-title">
                El juego de las parejas
            </h1>

            <form class="game-options">
                <label for="gameOption1" class="game-options__label">
                    <input id="gameOption1" class="game-options__input" type="radio" value="4" v-model="selectedDeck">
                    <svg width="20px" height="20px" viewBox="0 0 20 20">
                        <circle cx="10" cy="10" r="9"></circle>
                        <path
                            d="M10,7 C8.34314575,7 7,8.34314575 7,10 C7,11.6568542 8.34314575,13 10,13 C11.6568542,13 13,11.6568542 13,10 C13,8.34314575 11.6568542,7 10,7 Z"
                            class="inner"></path>
                        <path
                            d="M10,1 L10,1 L10,1 C14.9705627,1 19,5.02943725 19,10 L19,10 L19,10 C19,14.9705627 14.9705627,19 10,19 L10,19 L10,19 C5.02943725,19 1,14.9705627 1,10 L1,10 L1,10 C1,5.02943725 5.02943725,1 10,1 L10,1 Z"
                            class="outer"></path>
                    </svg>
                    <span class="game-options__text">4</span>
                </label>
                <label for="gameOption2" class="game-options__label">
                    <input id="gameOption2" class="game-options__input" type="radio" value="6" v-model="selectedDeck">
                    <svg width="20px" height="20px" viewBox="0 0 20 20">
                        <circle cx="10" cy="10" r="9"></circle>
                        <path
                            d="M10,7 C8.34314575,7 7,8.34314575 7,10 C7,11.6568542 8.34314575,13 10,13 C11.6568542,13 13,11.6568542 13,10 C13,8.34314575 11.6568542,7 10,7 Z"
                            class="inner"></path>
                        <path
                            d="M10,1 L10,1 L10,1 C14.9705627,1 19,5.02943725 19,10 L19,10 L19,10 C19,14.9705627 14.9705627,19 10,19 L10,19 L10,19 C5.02943725,19 1,14.9705627 1,10 L1,10 L1,10 C1,5.02943725 5.02943725,1 10,1 L10,1 Z"
                            class="outer"></path>
                    </svg>
                    <span class="game-options__text">6</span>
                </label>
                <label for="gameOption3" class="game-options__label">
                    <input id="gameOption3" class="game-options__input" type="radio" value="8" v-model="selectedDeck">
                    <svg width="20px" height="20px" viewBox="0 0 20 20">
                        <circle cx="10" cy="10" r="9"></circle>
                        <path
                            d="M10,7 C8.34314575,7 7,8.34314575 7,10 C7,11.6568542 8.34314575,13 10,13 C11.6568542,13 13,11.6568542 13,10 C13,8.34314575 11.6568542,7 10,7 Z"
                            class="inner"></path>
                        <path
                            d="M10,1 L10,1 L10,1 C14.9705627,1 19,5.02943725 19,10 L19,10 L19,10 C19,14.9705627 14.9705627,19 10,19 L10,19 L10,19 C5.02943725,19 1,14.9705627 1,10 L1,10 L1,10 C1,5.02943725 5.02943725,1 10,1 L10,1 Z"
                            class="outer"></path>
                    </svg>
                    <span class="game-options__text">8</span>
                </label>
            </form>

            <p class="attempts">
                Intentos: {{ count }}
            </p>

            <ul class="pokemons-wrapper four-items">
                <li v-for="card in cards" :key="card.image" @click="selectCard(card)"
                    :class="{covered: coveredCards.includes(card)}" class="pokemon-card">
                    <img :src="card.image">
                    <img class="cover-image" src="https://via.placeholder.com/160x195/30d9c4/ffffff/?text=?">
                </li>
            </ul>
        </div>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script src="main.js"></script>
</body>

</html>