<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>
			Parejas
		</title>
		<link
			rel="shortcut icon"
			type="image/x-icon"
			href="assets/images/favicon.ico"
		/>
		<link rel="stylesheet" href="assets/css/styles.css" />
	</head>

	<body>
		<div id="app" v-cloak>
			<div class="page-content">
				<div class="current-date">
					<time :datetime="`${current.date}`">
						{{ current.date }}
					</time>
					<time :datetime="`${current.time}`">
						{{ current.time }}
					</time>
				</div>

				<img
					class="logo-pokemon"
					src="assets/images/pokemon-logo.svg"
					alt=""
				/>

				<h1 class="page-title">
					El juego de las parejas
				</h1>

				<form class="game-options">
					<label for="gameOption1" class="game-options__label">
						<input
							id="gameOption1"
							class="game-options__input"
							type="radio"
							value="4"
							v-model="gameData.changed.selectedDeck"
						/>
						<svg width="20px" height="20px" viewBox="0 0 20 20">
							<circle cx="10" cy="10" r="9"></circle>
							<path
								d="M10,7 C8.34314575,7 7,8.34314575 7,10 C7,11.6568542 8.34314575,13 10,13 C11.6568542,13 13,11.6568542 13,10 C13,8.34314575 11.6568542,7 10,7 Z"
								class="inner"
							></path>
							<path
								d="M10,1 L10,1 L10,1 C14.9705627,1 19,5.02943725 19,10 L19,10 L19,10 C19,14.9705627 14.9705627,19 10,19 L10,19 L10,19 C5.02943725,19 1,14.9705627 1,10 L1,10 L1,10 C1,5.02943725 5.02943725,1 10,1 L10,1 Z"
								class="outer"
							></path>
						</svg>
						<span class="game-options__text">
							4
						</span>
					</label>
					<label for="gameOption2" class="game-options__label">
						<input
							id="gameOption2"
							class="game-options__input"
							type="radio"
							value="6"
							v-model="gameData.changed.selectedDeck"
						/>
						<svg width="20px" height="20px" viewBox="0 0 20 20">
							<circle cx="10" cy="10" r="9"></circle>
							<path
								d="M10,7 C8.34314575,7 7,8.34314575 7,10 C7,11.6568542 8.34314575,13 10,13 C11.6568542,13 13,11.6568542 13,10 C13,8.34314575 11.6568542,7 10,7 Z"
								class="inner"
							></path>
							<path
								d="M10,1 L10,1 L10,1 C14.9705627,1 19,5.02943725 19,10 L19,10 L19,10 C19,14.9705627 14.9705627,19 10,19 L10,19 L10,19 C5.02943725,19 1,14.9705627 1,10 L1,10 L1,10 C1,5.02943725 5.02943725,1 10,1 L10,1 Z"
								class="outer"
							></path>
						</svg>
						<span class="game-options__text">
							6
						</span>
					</label>
					<label for="gameOption3" class="game-options__label">
						<input
							id="gameOption3"
							class="game-options__input"
							type="radio"
							value="8"
							v-model="gameData.changed.selectedDeck"
						/>
						<svg width="20px" height="20px" viewBox="0 0 20 20">
							<circle cx="10" cy="10" r="9"></circle>
							<path
								d="M10,7 C8.34314575,7 7,8.34314575 7,10 C7,11.6568542 8.34314575,13 10,13 C11.6568542,13 13,11.6568542 13,10 C13,8.34314575 11.6568542,7 10,7 Z"
								class="inner"
							></path>
							<path
								d="M10,1 L10,1 L10,1 C14.9705627,1 19,5.02943725 19,10 L19,10 L19,10 C19,14.9705627 14.9705627,19 10,19 L10,19 L10,19 C5.02943725,19 1,14.9705627 1,10 L1,10 L1,10 C1,5.02943725 5.02943725,1 10,1 L10,1 Z"
								class="outer"
							></path>
						</svg>
						<span class="game-options__text">
							8
						</span>
					</label>
					<label for="gameOption4" class="game-options__label">
						<input
							id="gameOption4"
							class="game-options__input"
							type="radio"
							value="10"
							v-model="gameData.changed.selectedDeck"
						/>
						<svg width="20px" height="20px" viewBox="0 0 20 20">
							<circle cx="10" cy="10" r="9"></circle>
							<path
								d="M10,7 C8.34314575,7 7,8.34314575 7,10 C7,11.6568542 8.34314575,13 10,13 C11.6568542,13 13,11.6568542 13,10 C13,8.34314575 11.6568542,7 10,7 Z"
								class="inner"
							></path>
							<path
								d="M10,1 L10,1 L10,1 C14.9705627,1 19,5.02943725 19,10 L19,10 L19,10 C19,14.9705627 14.9705627,19 10,19 L10,19 L10,19 C5.02943725,19 1,14.9705627 1,10 L1,10 L1,10 C1,5.02943725 5.02943725,1 10,1 L10,1 Z"
								class="outer"
							></path>
						</svg>
						<span class="game-options__text">
							10
						</span>
					</label>
				</form>

				<div class="game-data">
					<p class="game-data__item game-data__attempts">
						Intentos: {{ gameData.changed.attempts }}
					</p>
					<p class="game-data__item game-data__fails">
						Fallos: {{ gameData.changed.fails }}
					</p>
					<p
						v-if="gameData.changed.difficult"
						class="game-data__item game-data__opportunities"
						:class="{'game-data__opportunities--error': gameData.changed.opportunities.last}"
					>
						Oportunidades: {{ gameData.changed.opportunities.number }}
					</p>
					<button
						v-if="gameData.changed.selectedDeck > 8"
						class="button button--color"
						:disabled="this.counter.disabled ? '' : disabled"
						@click="setCounter"
					>
						<span
							v-if="counter.init"
							class="game-data__item game-data__counter"
						>
							{{ counter.changed }}
						</span>
						<span v-else>
							Iniciar contador
						</span>
					</button>
				</div>

				<ul
					class="game-list-cards"
					:class="{'game-list-cards--8': (gameData.changed.selectedDeck == 8), 'game-list-cards--10': (gameData.changed.selectedDeck > 8)}"
				>
					<li
						v-for="card in cards"
						:key="card.image"
						@click="selectCard(card)"
						:class="{'is-covered': coveredCards.includes(card), 'is-uncovered': uncoveredCards.includes(card)}"
						class="game-card"
					>
						<div class="game-card__face game-card-front">
							<h3 class="game-card-front__name">
								{{ card.name }}
							</h3>
							<img
								:src="card.image"
								class="game-card-front__image"
							/>
						</div>
						<div class="game-card__face game-card-back">
							<div class="game-card-back__inner">?</div>
						</div>
					</li>
				</ul>

				<button
					@click="resetGame"
					v-if="gameResult.finish"
					class="button button--game"
				>
					Jugar de nuevo
				</button>

				<transition name="slide-down-up">
					<div
						v-if="gameResult.win"
						class="game-result game-result--win"
					>
						¡Bien hecho!
					</div>
				</transition>
				<transition name="slide-down-up">
					<div
						v-if="gameResult.lose"
						class="game-result game-result--lose"
					>
						Prueba de nuevo
					</div>
				</transition>
			</div>
		</div>

		<script src="https://unpkg.com/vue"></script>
		<script src="assets/js/main.js"></script>
	</body>
</html>
