@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

[v-cloak] {
    display: none;
}

.page-title {
    margin-bottom: 3rem;
    text-transform: uppercase;
    color: #30d9c4;
}

.page-content {
    margin: 5rem 2rem;
    display: grid;
    grid-column: 1fr;
    grid-row: 2fr 4fr;
}

.game-options {
    margin-bottom: 2rem;
}

.game-options__label {
    position: relative;
    display: inline-block;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}

.game-options__label:not(:last-child) {
    margin-right: 1rem;
}

.game-options__label svg {
    fill: none;
    vertical-align: middle;
}

.game-options__label svg circle {
    stroke-width: 2;
    stroke: #C8CCD4;
}

.game-options__label svg path {
    stroke: #30d9c4;
}

.game-options__label svg path.inner {
    stroke-width: 6;
    stroke-dasharray: 19;
    stroke-dashoffset: 19;
}

.game-options__label svg path.outer {
    stroke-width: 2;
    stroke-dasharray: 57;
    stroke-dashoffset: 57;
}

.game-options__input {
    width: 22px;
    height: 22px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    opacity: 0;
    cursor: pointer;
}

.game-options__input:checked+svg path {
    transition: all .4s ease;
}

.game-options__input:checked+svg path.inner {
    stroke-dashoffset: 38;
    transition-delay: .3s;
}

.game-options__input:checked+svg path.outer {
    stroke-dashoffset: 0;
}

.game-options__text {
    display: inline-block;
    vertical-align: middle;
}

.attempts {
    margin-bottom: 2rem;
}

.pokemons-wrapper {
    display: grid;
    grid-gap: 10px;
    grid-area: auto;
    padding: 0;
    margin: auto;
}

.four-items {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.six-items {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.eight-items {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.pokemon-card {
    width: 100px;
    height: 150px;
    display: flex;
    align-items: center;
    position: relative;
    list-style: none;
    border-radius: 5px;
    border: 1px solid #d0cfcf;
    cursor: pointer;
}

.cover-image {
    z-index: 999;
    width: 100px;
    height: 150px;
    border: 1px solid #d0cfcf;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.pokemon-card.covered .cover-image {
    display: inherit;
}





/* GAME RESULT */

.game-result {
    width: 100%;
    margin: 0 auto;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    background-color: #30d9c4;
}

.game-result--win {
    background-color: teal;
}

.game-result--over {
    background-color: tomato;
}





/* transitions */
.slide-down-enter{
    opacity: 0;
    transform: translateY(-100%);
}
.slide-down-enter-to{
    opacity: 1;
    transform: translateY(0); 
}
.slide-down-enter-active{
    transition: all 0.5s linear;
}